#baar{
    background-color: black !important;
}

 #baar ul li a{
    color: white;
    margin-left: 10px;
    font-size: 18px;
}

#baar ul li a:hover{
    color: red;
}

#img1 img{
    
    width: 1519px;
}

.card-body{
    display:inline-flex;
}

.card{
    display: inline-block;
    width: 376px !important;
    position: relative;
    height: 233px;
    
}
.card-text {
    font-family: 'Open Sans', sans-serif;

    font-size: 18px;
    color: white;
    font-weight: 10;
    position: absolute;
    left: 5px;
    bottom: 0px;
    display:inline-block;
}
.card img:hover{
    
    transition: all ease 1s;
    transform: scale(1.1);
    
}


.dropdown-menu li a{
    
    color: black !important;
}

#img3{
    width: 31px;
    
}

.dropdown-menu{
    margin-left: 17px;
    padding: 10px;
}


#search{
    
    position: relative;
    color: white;
}


#log_in{
    margin-left: 222px;
}

